<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page de Livros</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div class="container">
        <h1>Recomendador de livros</h1>
        <button id="BotaoRecomendar" onclick="recomenda_livro()">Carregar Livros</button>
        <div id="livros"></div>
        <div id="recomendacao">
            <p id="titulo">Cleitinho</p>
            <p id="ano">2022</p>
            <p id="autor">Cortezias Manelras</p>
        </div>
    </div>

    <script src="/static/js/script.js"></script>
</body>

</html>